@import url(variaveis.css);
input[type="checkbox"] {
    display: none;
  }
  
  .bi {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .bi-moon {
    display: none;
  }
.dark {
  background-color: var(--background-color);
  color: var(--color-light);
}
.dark header,
.footer{
    background-color: var(--dark-color);
}
.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark .card {
  background-color: var(--background-color);
}

.dark .card-image {
  background-color: var(--background-color);
}

.dark button{
    color: var(--color-light);
}

.dark .sobre .txt-sobre .btn-contact button{
    background-color: var(--color-light);
}

.dark button:hover{
    box-shadow: 0 0 12px var( --color-light);
}

.dark .especialidades .box:hover{
    box-shadow: 0 0 12px var( --color-light);
}

html{
    scroll-behavior: smooth !important;
}
/* estilo do todo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anybody', sans-serif;
}

body {
    background-color: var(--body-bg);
    min-height: 100vh;
}

.interface {
    max-width: 1280px;
    /* largura máxima da janela*/
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2 {
    text-transform: uppercase;
    color: var( --color-font);
    text-align: center;
    font-family: "Lexend Zetta", sans-serif;
    font-size: x-large;
    font-weight: 300;
}


h3 {
    color: var( --color-font);
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0;
    text-align: left;
    font-family: "Lexend Zetta", sans-serif;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var( --background-color);
    transition: .2s;
}


@media screen and (max-width: 768px) {
    
    /*768*/
    .flex {
        flex-direction: column;
    }

    header a{
        width: 100px;
        height: 50px;
        text-align: center;
        
    }

    .capa h1 {
        font-weight: 280;
        text-align: center;
    }

    h2 {

        font-size: large;
        font-weight: 30px;
    }

    .txt-sobre h2 {
        font-size: large;
        font-weight: 30px;
    }

    .txt-sobre .btn-contact button{
        color: var(--white);
    }

    .contato {
        display: none;
        margin-bottom: 10px;
        font-size: large;
    }

    .sobre img{
        display: none;
    }

    section.sobre {
        padding: 15px!important;
    
    }

    .sobre .txt-sobre {
        padding-left: 0px!important;
        text-align: justify;
    }

    .projetos .flex {
        display: flex;
    }

    .img-proj {
        border-radius: 20px;
        margin-top: 45px;
        padding: 40px;

        width: 100%;
        max-width: 360px;
        height: 460px;

        background-size: cover;
        background-position: 100% 0%;
        transition: 7s;
        cursor: pointer;

        position: relative
    }

    .especialidades .box{
        padding: 15px!important;
    }

    .projetos {
        padding: 10px!important;
    }

    .projetos .flex{
        margin-top: 10px!important;
        padding: 5px!important;
    }

}

header {
    padding: 15px 4%;
    
}

header>.interface {
    /* display flex*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a {
    color: var(--color-font);
    display: inline-block;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: var(--color-ligh);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;

}

header .contato button {
    background-color: var( --white);
    padding: 10px 20px;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    border: 2px solid var(--dark-color);
    cursor: pointer;

}

header .contato {
    color: var(--color-ligh);
}

.darkmode{
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    margin-top: 40px;
}


/*estilo capa*/
.capa {
    background-image: url(../img/foto3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;

    align-items: center;
    padding: 300px 30%;

}


.flex .overlay {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #1d1d1dba;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    gap: 20px;

}

.overlay:hover {
    opacity: 0.5;
    flex-direction: column;
}

.capa h1 {

    line-height: 33px;
    font-size: 38px;
    font-weight: 300;
    font-family: "Lexend Zetta", sans-serif;

}


.capa p {
    display: block;
    line-height: 22px;

}

/*sobre*/

section.sobre {
    padding: 60px;

}

.sobre .flex {
    align-items: center;
}

.sobre .txt-sobre {
    color: var(--color-ligh);
    padding-left: 20px;
}

.sobre .txt-sobre h2 {
    font-size: x-large;
    margin-bottom: 20px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-contact button {
    border-radius: 100px;
    border: none;
    background-color: var(--color-ligh);
}

.sobre .txt-sobre .btn-contact button i {
    color: var(--background-color);
}

.sobre .txt-sobre .btn-contact button:hover {
    transform: scale(1.05);
}



/*especialidades*/
.especialidades {
    box-shadow: 0 0 40px 10px var(--color-ligh)2c;
    padding: 20px;
    margin: 10px;
}

.especialidades .flex {
    display:flex;
}

.especialidades .box {
    border-radius: 20px;
    margin-top: 45px;
    color: var(--color-font);
    padding: 40px;
    border: 2px solid var(--color-ligh);
    transition: .2s;
}

.especialidades .box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--dark-color);
    color: var(--color-font);
    transform: scale(1.1);
}

.especialidades .box i {
    text-align: center;
    font-size: 48px;
    color: var(-- --color-font-dark);
}



/*projetos desenvolvidos*/

.projetos {
    padding: 80px;
}

.projetos .flex {
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}
#repos {
    
    width: 100%;
    margin-top: 20px;
  }
  
  #repos ul li {
    height: 100%;
    min-height: 60px;
  
    padding: 10px 60px 10px 10px;
    margin: 10px 0;
  
    position: relative;
  
    border: 1px solid #3d3d3d;
    border-radius: 6px;
    
    list-style: none;
    font-weight: 600;
  
    word-wrap: break-word;
  }
  

.flex button {
    background-color: var(--white);
    color: var(--color-light);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid var(--dark-color);
    cursor: pointer;

}

.flex  button {
    color: var(--color-ligh);
}


/*Rodapé*/
footer {
    background-color: var(--white);
    display: flex;
    box-shadow: 0 0 1px 1px var(--background-color);
    padding: 11px 4%;
}

.interface {
    margin-top: 15px;
}

footer>.interface button {

    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: none;
    background-color: var(--color-ligh);
    margin: 0 5px;
}
